<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Thinkflight | Tài khoản ngân hàng</title>
    <!-- Icons-->
    <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any"/>
    <link href="/stylesheets/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/stylesheets/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/pace.min.css" rel="stylesheet">

    <style>
        .card-body table th {
            text-transform: uppercase;
        }

        table tr th {
            color: #000 !important;
            border-top: 1px solid #c5e7f2 !important;
            border-bottom: 1px solid #c5e7f2 !important;
            background: url(https://cdn-app.kiotviet.vn/retailler/Content/thBg.png) right center no-repeat #dcf4fc !important;
        }

        .table th {
            border-bottom: none !important;
            font-weight: 400 !important;
            font-size: 12px !important;
            text-transform: uppercase;
        }

        .table-responsive-sm a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<% include ../layouts/header.ejs %>
<div class="app-body">
    <% include ../layouts/sidebar.ejs %>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin/dashboard">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">Cộng tác viên</li>
        </ol>
        <div class="container-fluid">
            <div id="ui-view">
                <div>
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <p style="float: left;font-weight: bold;margin-top: 8px;margin-bottom: 0;">
                                            Tài khoản ngân hàng
                                        </p>
                                        <div class="card-header-actions">
                                            <a href="create" class="btn btn-block btn-success active">
                                                <i class="nav-icon icon-plus"></i>
                                                Thêm mới tài khoản
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding: 0;">
                                        <table class="table table-responsive-sm table-striped"
                                               style="margin-bottom: 0;">
                                            <thead>
                                            <tr>
                                                <th style="width: 40px;">STT</th>
                                                <th>Ngân hàng</th>
                                                <th>Số tài khoản</th>
                                                <th>Chủ tài khoản</th>
                                                <th>Chi nhánh</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% banks.forEach(function(bank, key) { %>
                                                <tr>
                                                    <td><%= key + 1 %></td>
                                                    <td>
                                                        <%= bank.name %>
                                                    </td>
                                                    <td>
                                                        <%= bank.accountNumber %>
                                                    </td>
                                                    <td>
                                                        <%= bank.accountHolder %>
                                                    </td>
                                                    <td>
                                                        <%= bank.branch %>
                                                    </td>
                                                    <td><span class="badge badge-success">Hoạt động</span></td>
                                                </tr>
                                            <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<% include ../layouts/footer %>
</body>
</html>
