<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Thinkflight | Báo giá khách sạn - <%= quote.id %></title>
    <!-- Icons-->
    <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any"/>
    <link href="/stylesheets/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/stylesheets/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/pace.min.css" rel="stylesheet">

    <style>
        .card-body table th {
            text-transform: uppercase;
        }

        table tr th {
            color: #000 !important;
            border-top: 1px solid #c5e7f2 !important;
            border-bottom: 1px solid #c5e7f2 !important;
            background: url(https://cdn-app.kiotviet.vn/retailler/Content/thBg.png) right center no-repeat #dcf4fc !important;
        }

        .table th {
            border-bottom: none !important;
            font-weight: 400 !important;
            font-size: 12px !important;
            text-transform: uppercase;
        }

        .table-responsive-sm a:hover {
            text-decoration: none;
        }

    </style>

    <style>
        h2 {
            line-height: 36px;
            font-size: 20px;
        }

        h5 {
            line-height: 18px;
            font-size: 16px;
            font-weight: 400;
        }

        .r4_counter h4 {
            margin: 0;
        }

        a {
            color: #008ece;
            text-decoration: none !important;
        }

        .dashboardStatistic {
            position: relative;
        }

        .uln ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .dashboard-custom .dashboardStatistic ul li {
            max-width: calc(100% / 4);
        }

        .dashboardStatistic ul li {
            position: relative;
            color: #999;
            font-size: 12px;
            padding: 6px 0 6px 67px;
            text-align: left;
            display: inline-block;
            height: auto;
            vertical-align: middle;
            min-height: 72px;
            white-space: nowrap;
            margin: 4px 25px 8px 0;
            box-sizing: border-box;
        }

        .dashboardStatistic .total .dash_icon {
            background: #0094da;
        }

        .dashboardStatistic .dash_icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0;
            position: absolute;
            top: 25px;
            left: 28px;
            background: #4bac4d;
            text-align: center;
            border-radius: 100% !important;
            color: #fff;
            line-height: 32px;
        }

        .dashboardStatistic .dash_title {
            font-weight: 700;
            color: #666;
            margin: 0 0 0 2px;
        }

        .c-callout {
            text-align: left;
            padding: 6px 0 6px 60px;
            border-top: 1px solid #d6d6d6;
        }

        .dashboardStatistic .total span.number {
            color: #0094da;
        }

        .dashboardStatistic span.number {
            display: block;
            font-size: 18px;
            line-height: 28px;
        }

        span.yesterday {
            color: #999;
            display: block;
            font-size: 12px;
            margin: 0 0 0 2px;
        }

        .btn-group-left a, .btn-group-left button {
            text-transform: uppercase;
        }

        .dashboardStatistic .return .dash_icon {
            background: #ff8030;
        }

        .dashboardStatistic .down .dash_icon {
            background: #f94f5e;
        }

        @media (min-width: 768px) {
            .c-callout {
                border-top: none;
                border-left: 1px solid #d6d6d6;
            }
        }
    </style>

    <style type="text/css">
        @keyframes spinner {
            0% {
                opacity: 1
            }
            100% {
                opacity: 0
            }
        }

        .spinner div {
            left: 95px;
            top: 75px;
            position: absolute;
            animation: spinner linear 1s infinite;
            background: #1d3f72;
            width: 10px;
            height: 10px;
            border-radius: 5px / 5px;
            transform-origin: 5px 25px;
        }

        .spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -0.9s;
            background: #1d3f72;
        }

        .spinner div:nth-child(2) {
            transform: rotate(36deg);
            animation-delay: -0.8s;
            background: #1d3f72;
        }

        .spinner div:nth-child(3) {
            transform: rotate(72deg);
            animation-delay: -0.7s;
            background: #1d3f72;
        }

        .spinner div:nth-child(4) {
            transform: rotate(108deg);
            animation-delay: -0.6s;
            background: #1d3f72;
        }

        .spinner div:nth-child(5) {
            transform: rotate(144deg);
            animation-delay: -0.5s;
            background: #1d3f72;
        }

        .spinner div:nth-child(6) {
            transform: rotate(180deg);
            animation-delay: -0.4s;
            background: #1d3f72;
        }

        .spinner div:nth-child(7) {
            transform: rotate(216deg);
            animation-delay: -0.3s;
            background: #1d3f72;
        }

        .spinner div:nth-child(8) {
            transform: rotate(252deg);
            animation-delay: -0.2s;
            background: #1d3f72;
        }

        .spinner div:nth-child(9) {
            transform: rotate(288deg);
            animation-delay: -0.1s;
            background: #1d3f72;
        }

        .spinner div:nth-child(10) {
            transform: rotate(324deg);
            animation-delay: 0s;
            background: #1d3f72;
        }

        .loading-io {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
        }

        .spinner {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0; /* see note above */
        }

        .spinner div {
            box-sizing: content-box;
        }

        .th-text-right {
            text-align: right;
        }

        .tab-content .tab-pane {
            padding: 0 0 0;
        }
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

<div class="container-fluid" data-ng-app="quoteCrudApp" data-ng-controller="quoteCrudCtrl">
    <input type="hidden" id="quoteId" value="<%= quote.id %>">
    <div id="ui-view">
        <div>
            <div class="fade-in">
                <% quote.details.forEach(function(detail, key1) { %>
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <div class="card" style="margin-bottom: 0;">
                                <div class="card-header"
                                     style="background: #fff; border: none;text-align: center;padding: 0;">
                                    <svg width="180" height="61" viewBox="0 0 118 40" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0H118V28C118 34.6274 112.627 40 106 40H12C5.37259 40 0 34.6274 0 28V0Z"
                                              fill="#00BFA8"/>
                                        <g clip-path="url(#clip0_5132_30736)">
                                            <path d="M90.703 17.0998L75.2324 7.39871C74.8355 7.14945 74.3836 7.01346 73.9213 7.00417C73.459 6.99489 73.0025 7.11263 72.5968 7.34576C72.1911 7.57889 71.8503 7.91931 71.6082 8.33336C71.3661 8.74741 71.2311 9.22072 71.2165 9.70647C71.8688 9.04066 72.7422 8.6683 73.6515 8.66842V8.66842C74.2663 8.67008 74.8699 8.84137 75.402 9.16517L87.1702 16.3068C87.7037 16.6299 88.1467 17.0951 88.4548 17.6555C88.7628 18.2159 88.925 18.8517 88.925 19.4989C88.925 20.1461 88.7628 20.7818 88.4548 21.3422C88.1467 21.9026 87.7037 22.3678 87.1702 22.691L75.3978 29.8325C74.7399 30.2363 73.9742 30.402 73.2181 30.3042C72.462 30.2065 71.7573 29.8506 71.2122 29.2912C71.2271 29.7769 71.3623 30.2501 71.6044 30.6641C71.8465 31.078 72.1871 31.4184 72.5926 31.6517C72.9982 31.885 73.4546 32.003 73.9168 31.9942C74.379 31.9853 74.831 31.8499 75.2282 31.6012L90.6988 21.9002C91.0941 21.6525 91.4216 21.3013 91.6491 20.8808C91.8767 20.4603 91.9965 19.985 91.997 19.5012C91.9974 19.0175 91.8784 18.5419 91.6516 18.121C91.4248 17.7 91.0979 17.3482 90.703 17.0998V17.0998Z"
                                                  fill="white"/>
                                            <path d="M86.7421 17.0796L74.9739 9.93801C74.5714 9.69059 74.1136 9.55991 73.6473 9.55933C72.9413 9.55933 72.2643 9.8541 71.7651 10.3788C71.2659 10.9035 70.9855 11.6151 70.9855 12.3572V12.5799C71.8597 12.5634 72.7283 12.7302 73.5405 13.0704C74.3527 13.4107 75.0923 13.9176 75.7161 14.5616C76.3399 15.2056 76.8353 15.9738 77.1736 16.8213C77.5118 17.6688 77.686 18.5786 77.686 19.4976C77.686 20.4167 77.5118 21.3265 77.1736 22.174C76.8353 23.0215 76.3399 23.7897 75.7161 24.4337C75.0923 25.0777 74.3527 25.5846 73.5405 25.9248C72.7283 26.2651 71.8597 26.4318 70.9855 26.4153V26.6381C70.9855 27.3801 71.2659 28.0918 71.7651 28.6165C72.2643 29.1411 72.9413 29.4359 73.6473 29.4359C74.1136 29.4353 74.5714 29.3047 74.9739 29.0572L86.7421 21.9246C87.1476 21.6798 87.4845 21.327 87.7188 20.9017C87.9531 20.4763 88.0764 19.9936 88.0764 19.5021C88.0764 19.0106 87.9531 18.5278 87.7188 18.1025C87.4845 17.6771 87.1476 17.3243 86.7421 17.0796V17.0796Z"
                                                  fill="white"/>
                                            <path d="M29.0348 15.222V22.2455C29.0359 22.2984 29.0267 22.351 29.0078 22.4001C28.9888 22.4491 28.9605 22.4936 28.9246 22.5307C28.8893 22.57 28.8465 22.6011 28.7991 22.6218C28.7516 22.6425 28.7005 22.6525 28.6491 22.651C28.5996 22.6521 28.5505 22.642 28.5051 22.6212C28.4597 22.6004 28.4192 22.5695 28.3863 22.5307C28.3173 22.4537 28.2799 22.3513 28.2824 22.2455V15.222H26.3751C26.3247 15.2229 26.2748 15.2126 26.2284 15.1919C26.182 15.1711 26.1403 15.1404 26.106 15.1017C26.071 15.0641 26.0436 15.0195 26.0254 14.9705C26.0072 14.9215 25.9986 14.8692 26 14.8166C25.9987 14.764 26.0078 14.7116 26.0267 14.6629C26.0457 14.6142 26.0741 14.5702 26.1102 14.5337C26.1451 14.496 26.187 14.4663 26.2333 14.4463C26.2796 14.4264 26.3293 14.4167 26.3793 14.4179H30.993C31.0432 14.4165 31.0932 14.4262 31.1396 14.4466C31.186 14.4669 31.2277 14.4974 31.2621 14.5359C31.2978 14.5732 31.326 14.6176 31.3449 14.6666C31.3639 14.7156 31.3732 14.7682 31.3723 14.821C31.3735 14.8738 31.3645 14.9263 31.3458 14.9754C31.3272 15.0244 31.2993 15.069 31.2639 15.1065C31.2285 15.1439 31.1862 15.1734 31.1397 15.1933C31.0931 15.2132 31.0432 15.2229 30.993 15.222H29.0348Z"
                                                  fill="white"/>
                                            <path d="M32.8113 17.6922C33.0421 17.3742 33.3301 17.107 33.659 16.9059C33.98 16.7071 34.3461 16.6032 34.7186 16.6052C35.0486 16.6005 35.3756 16.672 35.6765 16.8145C35.9581 16.9532 36.2065 17.1564 36.4034 17.4093C36.6157 17.6852 36.7742 18.0023 36.8697 18.3427C36.9816 18.7395 37.0359 19.1517 37.0307 19.5656V22.261C37.0322 22.3146 37.0232 22.3679 37.0042 22.4178C36.9853 22.4676 36.9568 22.5128 36.9205 22.5505C36.8844 22.5884 36.8414 22.6182 36.7941 22.6381C36.7467 22.658 36.696 22.6676 36.645 22.6664C36.5959 22.6647 36.5476 22.6528 36.5028 22.6313C36.4581 22.6099 36.4178 22.5794 36.3844 22.5416C36.3485 22.5035 36.3203 22.4583 36.3014 22.4086C36.2824 22.3588 36.2732 22.3056 36.2742 22.252V19.5634C36.2742 18.8684 36.1329 18.3345 35.8503 17.9617C35.7066 17.7754 35.5231 17.6274 35.3146 17.5299C35.1061 17.4323 34.8787 17.388 34.6508 17.4004C34.4098 17.3995 34.1714 17.4527 33.9515 17.5563C33.7344 17.6576 33.5385 17.803 33.375 17.984C33.2063 18.1715 33.0726 18.3906 32.9808 18.63C32.882 18.8858 32.8282 19.1582 32.8219 19.4342V22.2387C32.8231 22.293 32.8135 22.347 32.7938 22.3972C32.7741 22.4475 32.7447 22.4928 32.7074 22.5305C32.6721 22.5685 32.6299 22.5987 32.5833 22.6193C32.5368 22.6399 32.4867 22.6505 32.4362 22.6505C32.3856 22.6505 32.3356 22.6399 32.289 22.6193C32.2424 22.5987 32.2002 22.5685 32.1649 22.5305C32.1276 22.4928 32.0982 22.4475 32.0785 22.3972C32.0588 22.347 32.0493 22.293 32.0505 22.2387V14.8276C32.0469 14.7747 32.0535 14.7216 32.0699 14.6714C32.0863 14.6213 32.1121 14.5751 32.1458 14.5357C32.2185 14.4598 32.3168 14.4172 32.4192 14.4172C32.5217 14.4172 32.62 14.4598 32.6926 14.5357C32.7288 14.574 32.7572 14.6196 32.7762 14.6698C32.7951 14.7199 32.8042 14.7736 32.8028 14.8276L32.8113 17.6922Z"
                                                  fill="white"/>
                                            <path d="M37.8784 19.6658C37.8761 19.2534 37.9539 18.8448 38.1073 18.4652C38.2573 18.0991 38.4731 17.7671 38.7431 17.4873C39.0112 17.2093 39.3268 16.9871 39.6734 16.8323C40.0312 16.675 40.4152 16.594 40.803 16.594C41.1908 16.594 41.5748 16.675 41.9326 16.8323C42.2711 16.9838 42.5801 17.1998 42.8438 17.4694C43.1129 17.7432 43.3288 18.0693 43.4796 18.4295C43.6331 18.8041 43.7152 19.2068 43.7212 19.6146V22.232C43.72 22.2882 43.7076 22.3436 43.685 22.3946C43.6624 22.4455 43.63 22.4911 43.5898 22.5282C43.5541 22.5677 43.511 22.599 43.4632 22.6201C43.4154 22.6411 43.364 22.6516 43.3122 22.6508C43.2613 22.6521 43.2107 22.6418 43.1638 22.6206C43.117 22.5995 43.0751 22.568 43.0409 22.5282C42.9695 22.4481 42.9307 22.3418 42.9329 22.232V21.6795C42.6634 21.9921 42.3406 22.249 41.9813 22.4369C41.6139 22.6309 41.2078 22.7302 40.7966 22.7265C40.4077 22.7285 40.0226 22.6467 39.665 22.4859C39.3184 22.3312 39.0027 22.109 38.7346 21.831C38.4647 21.552 38.2488 21.2207 38.0988 20.8553C37.9484 20.479 37.8734 20.074 37.8784 19.6658V19.6658ZM38.6498 19.6658C38.6478 19.9652 38.7048 20.2617 38.8173 20.5368C38.9256 20.8041 39.0801 21.048 39.2729 21.2563C39.4687 21.4615 39.6995 21.6262 39.9532 21.7419C40.2212 21.8619 40.5096 21.9237 40.8009 21.9237C41.0922 21.9237 41.3805 21.8619 41.6486 21.7419C42.1598 21.5113 42.5656 21.0807 42.7803 20.5412C42.8911 20.2657 42.9473 19.9694 42.9456 19.6703C42.9487 19.3725 42.8953 19.0771 42.7884 18.8014C42.6816 18.5256 42.5235 18.275 42.3234 18.0642C42.1232 17.8535 41.8851 17.6868 41.623 17.574C41.3608 17.4611 41.0799 17.4044 40.7966 17.4071C40.5089 17.4054 40.224 17.4661 39.9595 17.5853C39.4445 17.8126 39.0345 18.2427 38.8173 18.7837C38.7044 19.0625 38.6474 19.3628 38.6498 19.6658Z"
                                                  fill="white"/>
                                            <path d="M49.9285 22.2522C49.9297 22.3057 49.9205 22.359 49.9015 22.4087C49.8826 22.4585 49.8542 22.5036 49.8181 22.5415C49.7821 22.5794 49.7391 22.6092 49.6918 22.6292C49.6445 22.6491 49.5938 22.6588 49.5428 22.6576C49.4924 22.6579 49.4424 22.6476 49.3958 22.6272C49.3492 22.6069 49.307 22.5769 49.2717 22.5391C49.2363 22.5013 49.2085 22.4564 49.1899 22.4071C49.1713 22.3579 49.1623 22.3052 49.1635 22.2522V19.5301C49.155 18.844 49.0088 18.3175 48.7248 17.9507C48.5809 17.7683 48.3985 17.6235 48.1922 17.528C47.9858 17.4325 47.7611 17.3889 47.5359 17.4005C47.2942 17.3993 47.055 17.4525 46.8344 17.5564C46.6173 17.6577 46.4215 17.8031 46.258 17.9841C46.0893 18.1716 45.9555 18.3908 45.8638 18.6301C45.7665 18.8862 45.714 19.1586 45.7091 19.4343V22.2388C45.7102 22.2929 45.7008 22.3467 45.6815 22.3968C45.6622 22.447 45.6333 22.4925 45.5968 22.5306C45.5614 22.5692 45.5189 22.5998 45.4719 22.6205C45.4249 22.6412 45.3744 22.6515 45.3234 22.6509C45.2727 22.6518 45.2224 22.6415 45.1757 22.6208C45.129 22.6001 45.0869 22.5694 45.0521 22.5306C45.0148 22.493 44.9854 22.4476 44.9657 22.3973C44.946 22.3471 44.9365 22.2931 44.9377 22.2388V16.9951C44.9375 16.9417 44.9477 16.8889 44.9678 16.8398C44.9878 16.7908 45.0173 16.7466 45.0542 16.71C45.0902 16.6718 45.1332 16.6416 45.1805 16.6214C45.2279 16.6011 45.2786 16.5911 45.3297 16.5919C45.38 16.5906 45.4299 16.6005 45.4763 16.6208C45.5226 16.6412 45.5644 16.6715 45.5989 16.71C45.6346 16.7472 45.6628 16.7917 45.6817 16.8407C45.7007 16.8897 45.71 16.9422 45.7091 16.9951V17.6923C45.9404 17.3748 46.2283 17.1077 46.5568 16.906C46.8777 16.7072 47.2439 16.6033 47.6164 16.6053C47.9442 16.6002 48.2691 16.6709 48.568 16.8124C48.8499 16.9484 49.0991 17.1494 49.297 17.4005C49.5078 17.6746 49.6654 17.9894 49.7611 18.3272C49.8739 18.7202 49.931 19.1285 49.9306 19.539V22.2522H49.9285Z"
                                                  fill="white"/>
                                            <path d="M53.3978 19.0489L55.2457 22.0205C55.2895 22.0865 55.3135 22.1648 55.3146 22.2452C55.3158 22.3257 55.2939 22.4046 55.252 22.472C55.2101 22.5393 55.1499 22.5919 55.0793 22.623C55.0087 22.6541 54.9309 22.6622 54.8558 22.6464C54.8056 22.638 54.7577 22.6179 54.7159 22.5874C54.6741 22.5569 54.6393 22.517 54.6142 22.4705L52.8213 19.6147L51.8549 20.5882V22.2544C51.8564 22.308 51.8474 22.3614 51.8284 22.4112C51.8095 22.461 51.781 22.5062 51.7447 22.544C51.7106 22.5808 51.6697 22.6101 51.6246 22.63C51.5794 22.6499 51.5309 22.66 51.4819 22.6598C51.4307 22.6605 51.3798 22.6502 51.3324 22.6295C51.285 22.6088 51.2422 22.5782 51.2064 22.5395C51.169 22.5033 51.1392 22.4592 51.1191 22.4101C51.099 22.3609 51.0891 22.3079 51.0899 22.2544V14.821C51.0883 14.7671 51.098 14.7134 51.1181 14.6638C51.1382 14.6142 51.1684 14.5698 51.2064 14.5336C51.2427 14.496 51.2857 14.4663 51.333 14.4464C51.3804 14.4265 51.431 14.4168 51.4819 14.4178C51.5322 14.4175 51.582 14.4277 51.6284 14.448C51.6749 14.4682 51.717 14.4979 51.7523 14.5355C51.7877 14.573 51.8155 14.6177 51.8342 14.6667C51.8529 14.7157 51.8621 14.7682 51.8613 14.821V19.5167L54.5909 16.7456C54.6242 16.707 54.6652 16.6766 54.711 16.6566C54.7568 16.6365 54.8063 16.6274 54.8558 16.6298C54.9054 16.6314 54.954 16.6437 54.9989 16.666C55.0437 16.6882 55.0837 16.7198 55.1165 16.759C55.1165 16.759 55.1165 16.759 55.1165 16.759C55.1503 16.7954 55.1768 16.8386 55.1943 16.8861C55.2118 16.9336 55.2199 16.9843 55.2182 17.0352C55.2182 17.0864 55.208 17.137 55.1883 17.1838C55.1686 17.2306 55.1398 17.2725 55.1038 17.307L53.3978 19.0489Z"
                                                  fill="white"/>
                                            <path d="M58.8485 15.222V22.2455C58.8488 22.2988 58.839 22.3517 58.8197 22.401C58.8004 22.4503 58.772 22.4951 58.7361 22.5328C58.7003 22.5705 58.6576 22.6004 58.6107 22.6207C58.5638 22.6409 58.5135 22.6512 58.4628 22.6509C58.4132 22.6524 58.364 22.6424 58.3186 22.6216C58.2732 22.6008 58.2327 22.5698 58.2 22.5306C58.1309 22.4537 58.0936 22.3512 58.0961 22.2455V15.222H56.1888C56.1384 15.223 56.0884 15.2128 56.042 15.192C55.9956 15.1713 55.9539 15.1405 55.9197 15.1017C55.8839 15.0644 55.8558 15.02 55.8368 14.971C55.8179 14.922 55.8086 14.8694 55.8095 14.8166C55.8092 14.7641 55.8188 14.7121 55.8378 14.6636C55.8567 14.6151 55.8847 14.571 55.9199 14.534C55.9552 14.4969 55.9972 14.4675 56.0433 14.4476C56.0895 14.4276 56.1389 14.4175 56.1888 14.4178H60.8024C60.8527 14.4166 60.9026 14.4264 60.949 14.4468C60.9953 14.4671 61.0371 14.4975 61.0716 14.5359C61.1073 14.5732 61.1355 14.6176 61.1544 14.6666C61.1733 14.7156 61.1827 14.7681 61.1818 14.821C61.1835 14.8743 61.1745 14.9274 61.1555 14.9769C61.1366 15.0264 61.108 15.0712 61.0716 15.1084C61.0363 15.1454 60.9942 15.1745 60.948 15.194C60.9018 15.2135 60.8523 15.223 60.8024 15.222H58.8485Z"
                                                  fill="white"/>
                                            <path d="M61.6289 17.6656C61.9066 17.335 62.2455 17.0675 62.625 16.8793C63.0177 16.6868 63.4463 16.5886 63.8796 16.5919H63.9347C63.9894 16.5877 64.0444 16.5954 64.0962 16.6146C64.148 16.6338 64.1955 16.664 64.2356 16.7033C64.2704 16.7415 64.2974 16.7866 64.3153 16.8359C64.3331 16.8853 64.3413 16.9379 64.3395 16.9907C64.3412 17.0453 64.3317 17.0996 64.3116 17.15C64.2915 17.2004 64.2612 17.2456 64.2229 17.2825C64.1448 17.3588 64.0412 17.3996 63.9347 17.3961H63.8859C63.5873 17.3939 63.2914 17.4569 63.0171 17.581C62.7495 17.7024 62.5064 17.8763 62.3007 18.0933C62.0952 18.3132 61.9306 18.5716 61.8154 18.8552C61.6939 19.1519 61.6325 19.4721 61.6353 19.7952V22.2455C61.6363 22.2994 61.6271 22.353 61.6082 22.4031C61.5892 22.4532 61.561 22.4988 61.5251 22.5373C61.4907 22.576 61.449 22.6068 61.4027 22.6275C61.3563 22.6482 61.3063 22.6585 61.256 22.6576C61.2047 22.6583 61.1538 22.648 61.1064 22.6273C61.059 22.6066 61.0162 22.576 60.9804 22.5373C60.9425 22.5001 60.9125 22.4549 60.8924 22.4046C60.8723 22.3543 60.8626 22.3001 60.8639 22.2455V16.9951C60.8632 16.9417 60.8732 16.8887 60.8933 16.8395C60.9134 16.7904 60.9431 16.7463 60.9804 16.71C61.0163 16.6716 61.0592 16.6413 61.1066 16.621C61.154 16.6007 61.2048 16.5908 61.256 16.5919C61.3066 16.5901 61.357 16.5996 61.4038 16.62C61.4506 16.6404 61.4927 16.6711 61.5272 16.71C61.5623 16.7477 61.5899 16.7923 61.6084 16.8412C61.627 16.8901 61.6361 16.9425 61.6353 16.9951L61.6289 17.6656Z"
                                                  fill="white"/>
                                            <path d="M65.1278 14.8543C65.1701 14.8089 65.2205 14.7729 65.2762 14.7485C65.3319 14.724 65.3917 14.7115 65.4521 14.7117C65.5144 14.7109 65.5763 14.7231 65.6341 14.7476C65.6919 14.7721 65.7446 14.8083 65.789 14.8543C65.8354 14.8992 65.8721 14.9541 65.8966 15.0152C65.9211 15.0763 65.9328 15.1422 65.931 15.2085C65.9315 15.2719 65.9191 15.3348 65.8946 15.3928C65.8701 15.4508 65.8341 15.5026 65.789 15.5448C65.7453 15.5919 65.6928 15.629 65.6348 15.6539C65.5769 15.6788 65.5147 15.691 65.4521 15.6896C65.3914 15.6905 65.3313 15.678 65.2754 15.6531C65.2196 15.6282 65.1693 15.5913 65.1278 15.5448C65.0853 15.501 65.0516 15.4486 65.0286 15.3909C65.0057 15.3331 64.994 15.2711 64.9943 15.2085C64.9925 15.143 65.0033 15.0778 65.0263 15.0169C65.0493 14.956 65.0838 14.9006 65.1278 14.8543V14.8543ZM65.842 22.2387C65.8431 22.2928 65.8337 22.3465 65.8144 22.3967C65.7951 22.4469 65.7663 22.4924 65.7297 22.5305C65.6944 22.5691 65.6519 22.5997 65.6049 22.6204C65.5578 22.6411 65.5073 22.6514 65.4563 22.6508C65.4056 22.6516 65.3553 22.6414 65.3086 22.6207C65.2619 22.6 65.2198 22.5692 65.185 22.5305C65.1478 22.4928 65.1184 22.4474 65.0987 22.3972C65.079 22.347 65.0694 22.293 65.0706 22.2387V16.995C65.0704 16.9416 65.0807 16.8887 65.1007 16.8397C65.1208 16.7906 65.1502 16.7464 65.1872 16.7098C65.2231 16.6717 65.2661 16.6415 65.3134 16.6212C65.3608 16.6009 65.4115 16.5909 65.4627 16.5918C65.5129 16.5904 65.5629 16.6002 65.6093 16.6205C65.6557 16.6409 65.6974 16.6713 65.7318 16.7098C65.7675 16.7471 65.7957 16.7916 65.8146 16.8406C65.8336 16.8896 65.8429 16.9421 65.842 16.995V22.2387Z"
                                                  fill="white"/>
                                            <path d="M67.8956 17.5876C68.1643 17.2791 68.4894 17.0306 68.8514 16.8569C69.2177 16.6857 69.6136 16.5952 70.0145 16.591C70.4155 16.5868 70.813 16.6689 71.1825 16.8324C71.8816 17.1438 72.4374 17.7296 72.7317 18.4652C72.8851 18.8449 72.963 19.2535 72.9606 19.6659C72.963 20.0747 72.8851 20.4797 72.7317 20.8554C72.4364 21.5898 71.8808 22.1746 71.1825 22.486C70.813 22.6491 70.4156 22.7312 70.0148 22.7274C69.614 22.7235 69.2181 22.6338 68.8514 22.4637C68.4893 22.2922 68.1641 22.0451 67.8956 21.7375V24.4262C67.8963 24.4789 67.8867 24.5312 67.8673 24.5799C67.848 24.6286 67.8194 24.6725 67.7833 24.7091C67.7103 24.7842 67.612 24.8259 67.5099 24.8249C67.4596 24.8256 67.4097 24.8157 67.3631 24.7958C67.3165 24.7759 67.2742 24.7464 67.2386 24.7091C67.2018 24.673 67.1726 24.6291 67.1529 24.5804C67.1331 24.5317 67.1234 24.4792 67.1242 24.4262V16.9906C67.1228 16.9369 67.1323 16.8835 67.152 16.834C67.1717 16.7844 67.2012 16.7399 67.2386 16.7032C67.2744 16.6665 67.3169 16.6377 67.3635 16.6186C67.4101 16.5994 67.4599 16.5903 67.5099 16.5919C67.5602 16.5905 67.6102 16.5997 67.6572 16.6188C67.7041 16.6379 67.7469 16.6666 67.7833 16.7032C67.8199 16.7403 67.8489 16.785 67.8682 16.8345C67.8875 16.884 67.8969 16.9371 67.8956 16.9906V17.5876ZM67.8956 19.6659C67.8942 19.9654 67.952 20.262 68.0651 20.5369C68.1727 20.8046 68.3273 21.0487 68.5208 21.2564C68.7154 21.462 68.9456 21.6268 69.1989 21.742C69.467 21.862 69.7553 21.9238 70.0466 21.9238C70.338 21.9238 70.6263 21.862 70.8943 21.742C71.1441 21.6249 71.3712 21.4603 71.564 21.2564C71.7584 21.0512 71.9132 20.8084 72.0197 20.5413C72.1304 20.2658 72.1867 19.9695 72.185 19.6704C72.1875 19.3731 72.1339 19.0784 72.0273 18.8031C71.9207 18.5278 71.7633 18.2774 71.564 18.0665C71.3678 17.8619 71.1362 17.6986 70.8816 17.5853C70.6152 17.4677 70.3292 17.4071 70.0403 17.4071C69.7513 17.4071 69.4653 17.4677 69.1989 17.5853C68.6835 17.8113 68.2737 18.242 68.0588 18.7838C67.9473 19.0629 67.8918 19.3632 67.8956 19.6659V19.6659Z"
                                                  fill="white"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_5132_30736">
                                                <rect width="66" height="25" fill="white" transform="translate(26 7)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="card-body" style="padding: 0;min-height: calc(100vh - 131px);">
                                    <div style="padding: 1.25rem;">
                                        <strong style="text-transform: uppercase;">Báo giá khách sạn</strong>
                                        <br>
                                        <span>Ngày tạo: <%= quote.createdAt %></span>
                                    </div>
                                    <div>
                                        <div style="background: #F2F2F2;padding: 10px 20px;font-weight: bold;text-transform: uppercase;">
                                            Option <%= key1 + 1 %>: <%= detail.hotel.title %>
                                        </div>
                                        <div style="padding: 1.25rem;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                            <strong>Danh sách phòng</strong>
                                                        </div>
                                                    </div>
                                                    <div style="background: #f2f2f2;border-radius: 10px;padding: 10px 15px 0;">
                                                        <% detail.hotel.room_detail.forEach(function(room, key) { %>
                                                            <% if(detail.rooms.includes(room.id)) { %>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <% if(key === 0) { %>
                                                                                <label for="">
                                                                                    Loại phòng
                                                                                </label>
                                                                            <% } %>
                                                                            <p style="margin-top: 7px;">
                                                                                <strong>
                                                                                    <%= room.room_type + ', ' + (room.bed_type === 1 ? 'TWIN (TWN)' : 'Double (DBL)') %>
                                                                                </strong>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2"
                                                                         style="text-align: right;">
                                                                        <div class="form-group">
                                                                            <% if(key === 0) { %>
                                                                                <label for="">
                                                                                    Ngày thường
                                                                                </label>
                                                                            <% } %>
                                                                            <p style="margin-top: 7px;">
                                                                                ₫<strong>
                                                                                    <%= _.formatNumber(room.price_normal + detail.hotel.surcharge) %>
                                                                                </strong>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2"
                                                                         style="text-align: right;">
                                                                        <div class="form-group">
                                                                            <% if(key === 0) { %>
                                                                                <label for="">
                                                                                    Cuối tuần
                                                                                </label>
                                                                            <% } %>
                                                                            <p style="margin-top: 7px;">
                                                                                ₫<strong>
                                                                                    <%= _.formatNumber(room.price_weekend + detail.hotel.surcharge) %>
                                                                                </strong>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2"
                                                                         style="text-align: right;">
                                                                        <div class="form-group">
                                                                            <% if(key === 0) { %>
                                                                                <label for="">
                                                                                    Ngày lễ
                                                                                </label>
                                                                            <% } %>
                                                                            <p style="margin-top: 7px;">
                                                                                ₫<strong>
                                                                                    <%= _.formatNumber(room.price_lunar + detail.hotel.surcharge) %>
                                                                                </strong>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <% } %>
                                                        <% }); %>
                                                    </div>
                                                    <% if(detail.hotel.service_detail.length) { %>
                                                        <div class="row">
                                                            <div class="col-md-12 mb-3 mt-3">
                                                                <strong>Phụ thu</strong>
                                                            </div>
                                                        </div>
                                                        <div style="background: #f2f2f2;border-radius: 10px;padding: 10px 15px 0;">
                                                            <% detail.hotel.service_detail.forEach(function(service, key) { %>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <% if(key === 0) { %>
                                                                                <label for="">
                                                                                    Tên dịch vụ
                                                                                </label>
                                                                            <% } %>
                                                                            <p style="margin-top: 7px;">
                                                                                <strong>
                                                                                    <%= service.title %>
                                                                                </strong>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-2" style="text-align: right;">
                                                                        <div class="form-group">
                                                                            <% if(key === 0) { %>
                                                                                <label for="">
                                                                                    Chi phí
                                                                                </label>
                                                                            <% } %>
                                                                            <p style="margin-top: 7px;">
                                                                                ₫<strong>
                                                                                    <%= _.formatNumber(service.price) %>
                                                                                </strong>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <% }); %>
                                                        </div>
                                                    <% } %>
                                                    <div class="row">
                                                        <div class="col-md-12 mb-3 mt-3">
                                                            <strong>Thông tin khách sạn</strong>
                                                        </div>
                                                    </div>
                                                    <div style="background: #f2f2f2;border-radius: 10px;padding: 10px 15px 0;">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="">Giờ nhận phòng</label>
                                                                    <p style="margin-top: 7px;">
                                                                        <strong>
                                                                            <%= detail.hotel.check_in %>
                                                                        </strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="text-align: center;">
                                                                <div class="form-group">
                                                                    <label for="">Giờ trả phòng</label>
                                                                    <p style="margin-top: 7px;">
                                                                        <strong>
                                                                            <%= detail.hotel.check_out %>
                                                                        </strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="text-align: right;">
                                                                <div class="form-group">
                                                                    <label for="">Chính sách hoàn huỷ</label>
                                                                    <p style="margin-top: 7px;">
                                                                        <strong>
                                                                            <%= detail.hotel.refund_policy %>
                                                                        </strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="background: #f2f2f2;border-radius: 10px;padding: 10px 15px 0;margin-top: 15px;">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for=""><strong>Ghi chú</strong></label>
                                                                    <p style="margin-top: 7px;">
                                                                        <%= detail.hotel.note %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="text-align: center;">
                                                                <div class="form-group">
                                                                    <label for="">
                                                                        <strong>Chính sách trẻ em</strong>
                                                                    </label>
                                                                    <p style="margin-top: 7px;">
                                                                        <%= detail.hotel.child_policy %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="text-align: right;">
                                                                <div class="form-group">
                                                                    <label for="">
                                                                        <strong>Dịch vụ miễn phí</strong>
                                                                    </label>
                                                                    <p style="margin-top: 7px;">
                                                                        <%= detail.hotel.free_service %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer"
                                     style="background: #00BFA8; height: 68px;color: #fff;text-align: center;">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2" style="max-width: 12.666667%;">
                                        <span>
                                            <svg width="18" height="18" viewBox="0 0 10 10" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_5132_30866)">
                                                    <path d="M7.32811 6.54063C7.24102 6.45323 7.13752 6.38389 7.02357 6.33657C6.90962 6.28925 6.78744 6.2649 6.66405 6.2649C6.54066 6.2649 6.41849 6.28925 6.30453 6.33657C6.19058 6.38389 6.08709 6.45323 5.99999 6.54063L5.54686 6.99376C5.03668 6.66996 4.56399 6.29056 4.13749 5.86251C3.71034 5.43519 3.33102 4.96261 3.00624 4.45313L3.45936 4.00001C3.54676 3.91291 3.61611 3.80942 3.66343 3.69546C3.71075 3.58151 3.7351 3.45934 3.7351 3.33595C3.7351 3.21256 3.71075 3.09038 3.66343 2.97643C3.61611 2.86247 3.54676 2.75898 3.45936 2.67188L2.57499 1.79063C2.48912 1.70294 2.3865 1.63341 2.27323 1.58617C2.15996 1.53893 2.03834 1.51494 1.91561 1.51563C1.79202 1.51533 1.66958 1.53947 1.55534 1.58667C1.44111 1.63386 1.33733 1.70318 1.24999 1.79063L0.82499 2.21251C0.622418 2.43031 0.471231 2.69074 0.382541 2.97466C0.293852 3.25857 0.269915 3.55875 0.31249 3.85313C0.41249 5.02501 1.18124 6.43438 2.36561 7.62188C3.54999 8.80938 4.97499 9.57501 6.14686 9.68751C6.2343 9.69218 6.32193 9.69218 6.40936 9.68751C6.66162 9.6981 6.91346 9.65822 7.1501 9.57022C7.38675 9.48221 7.60345 9.34785 7.78749 9.17501L8.20936 8.75001C8.29682 8.66267 8.36614 8.55889 8.41333 8.44466C8.46053 8.33042 8.48467 8.20798 8.48436 8.08438C8.48506 7.96166 8.46107 7.84004 8.41383 7.72677C8.36659 7.6135 8.29705 7.51088 8.20936 7.42501L7.32811 6.54063ZM7.76874 8.30938L7.34374 8.73126C7.1866 8.86222 7.00316 8.9579 6.80583 9.01181C6.6085 9.06573 6.40189 9.07662 6.19999 9.04376C5.18436 8.95626 3.89061 8.23751 2.82186 7.16876C1.75311 6.10001 1.03436 4.81563 0.93749 3.80001C0.90379 3.59811 0.914276 3.3913 0.968226 3.19384C1.02218 2.99638 1.11831 2.81297 1.24999 2.65626L1.69061 2.23126C1.71981 2.2023 1.75444 2.17938 1.79252 2.16383C1.83059 2.14828 1.87136 2.1404 1.91249 2.14063C1.95362 2.1404 1.99439 2.14828 2.03246 2.16383C2.07053 2.17938 2.10516 2.2023 2.13436 2.23126L3.01874 3.12501C3.07694 3.18356 3.10961 3.26276 3.10961 3.34532C3.10961 3.42788 3.07694 3.50708 3.01874 3.56563L2.39374 4.19063C2.34483 4.2393 2.31341 4.30278 2.30436 4.37118C2.29532 4.43958 2.30916 4.50905 2.34374 4.56876C2.71792 5.20578 3.17272 5.79186 3.69686 6.31251C4.21751 6.83666 4.8036 7.29145 5.44061 7.66563C5.50032 7.70021 5.56979 7.71406 5.63819 7.70501C5.70659 7.69597 5.77007 7.66454 5.81874 7.61563L6.44374 6.99063C6.50229 6.93243 6.58149 6.89976 6.66405 6.89976C6.74661 6.89976 6.82581 6.93243 6.88437 6.99063L7.76874 7.87501C7.7977 7.90421 7.82062 7.93884 7.83617 7.97691C7.85172 8.01499 7.8596 8.05576 7.85936 8.09688C7.85741 8.17669 7.82498 8.25273 7.76874 8.30938ZM8.31249 1.68438C7.8782 1.24844 7.3619 0.902772 6.79338 0.667316C6.22485 0.431861 5.61534 0.311274 4.99999 0.312509C4.91711 0.312509 4.83762 0.345433 4.77902 0.404039C4.72041 0.462644 4.68749 0.542129 4.68749 0.625009C4.68749 0.70789 4.72041 0.787375 4.77902 0.84598C4.83762 0.904585 4.91711 0.937509 4.99999 0.937509C5.53639 0.93749 6.06748 1.0437 6.56262 1.25C7.05776 1.45631 7.50714 1.75863 7.88483 2.13952C8.26252 2.5204 8.56105 2.97231 8.76317 3.46917C8.9653 3.96603 9.06703 4.498 9.06249 5.03438C9.06249 5.11726 9.09541 5.19675 9.15402 5.25536C9.21262 5.31396 9.29211 5.34688 9.37499 5.34688C9.45787 5.34688 9.53736 5.31396 9.59596 5.25536C9.65457 5.19675 9.68749 5.11726 9.68749 5.03438C9.69347 4.41249 9.5749 3.79569 9.33875 3.22034C9.1026 2.645 8.75366 2.12275 8.31249 1.68438Z"
                                                          fill="white"/>
                                                    <path d="M6.53437 3.47197C6.71172 3.64825 6.85202 3.85822 6.94701 4.08953C7.042 4.32083 7.08977 4.56881 7.08749 4.81885C7.08749 4.90173 7.12042 4.98121 7.17902 5.03982C7.23763 5.09842 7.31711 5.13135 7.39999 5.13135C7.48287 5.13135 7.56236 5.09842 7.62096 5.03982C7.67957 4.98121 7.71249 4.90173 7.71249 4.81885C7.71663 4.48792 7.65502 4.15947 7.53124 3.85254C7.40745 3.54561 7.22396 3.26631 6.9914 3.03084C6.75884 2.79538 6.48184 2.60843 6.17648 2.48084C5.87111 2.35326 5.54344 2.28757 5.21249 2.2876C5.12961 2.2876 5.05013 2.32052 4.99152 2.37913C4.93292 2.43773 4.89999 2.51722 4.89999 2.6001C4.89999 2.68298 4.93292 2.76246 4.99152 2.82107C5.05013 2.87967 5.12961 2.9126 5.21249 2.9126C5.45877 2.91445 5.70227 2.96481 5.92908 3.06079C6.15589 3.15677 6.36157 3.29649 6.53437 3.47197Z"
                                                          fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_5132_30866">
                                                        <rect width="10" height="10" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            096.678.4576
                                        </span>
                                        </div>
                                        <div class="col-md-3" style="flex: 0 0 28%;max-width: 28%;">
                                        <span>
                                            <svg width="18" height="18" viewBox="0 0 10 10" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_5132_30871)">
                                                    <path d="M5.63452 8.28442L6.5303 9.68755H9.68749L5.63452 8.28442Z"
                                                          fill="white"/>
                                                    <path d="M6.14562 9.6875L5.24765 8.28125H4.75234L3.85437 9.6875H6.14562Z"
                                                          fill="white"/>
                                                    <path d="M4.36547 8.28442L0.3125 9.68755H3.46969L4.36547 8.28442Z"
                                                          fill="white"/>
                                                    <path d="M6.5625 2.5V7.8125C6.56217 7.8675 6.54723 7.92142 6.51922 7.96875H7.5V0.78125L7.03125 0.96875V0.625H6.875V0.3125H6.5625V0.625H6.40625V1.21875L5.9375 1.40625V2.1875H6.25C6.33288 2.1875 6.41237 2.22042 6.47097 2.27903C6.52958 2.33763 6.5625 2.41712 6.5625 2.5ZM6.875 1.875H7.1875V2.1875H6.875V1.875ZM6.875 2.5H7.1875V2.8125H6.875V2.5ZM6.875 3.125H7.1875V3.4375H6.875V3.125ZM6.875 3.75H7.1875V4.0625H6.875V3.75ZM6.875 4.375H7.1875V4.6875H6.875V4.375ZM6.875 5H7.1875V5.3125H6.875V5ZM6.875 5.625H7.1875V5.9375H6.875V5.625ZM6.875 6.25H7.1875V6.5625H6.875V6.25ZM6.875 6.875H7.1875V7.1875H6.875V6.875ZM4.6875 7.1875V7.8125H5.3125V7.1875C5.3125 7.10462 5.27958 7.02513 5.22097 6.96653C5.16237 6.90792 5.08288 6.875 5 6.875C4.91712 6.875 4.83763 6.90792 4.77903 6.96653C4.72042 7.02513 4.6875 7.10462 4.6875 7.1875Z"
                                                          fill="white"/>
                                                    <path d="M6.25 7.96875V2.5H3.75V7.96875H4.375V7.1875C4.375 7.02174 4.44085 6.86277 4.55806 6.74556C4.67527 6.62835 4.83424 6.5625 5 6.5625C5.16576 6.5625 5.32473 6.62835 5.44194 6.74556C5.55915 6.86277 5.625 7.02174 5.625 7.1875V7.96875H6.25ZM4.53125 5.9375H4.21875V5.625H4.53125V5.9375ZM4.53125 5.3125H4.21875V5H4.53125V5.3125ZM4.53125 4.6875H4.21875V4.375H4.53125V4.6875ZM4.53125 4.0625H4.21875V3.75H4.53125V4.0625ZM4.53125 3.4375H4.21875V3.125H4.53125V3.4375ZM5.15625 5.9375H4.84375V5.625H5.15625V5.9375ZM5.15625 5.3125H4.84375V5H5.15625V5.3125ZM5.15625 4.6875H4.84375V4.375H5.15625V4.6875ZM5.15625 4.0625H4.84375V3.75H5.15625V4.0625ZM5.15625 3.4375H4.84375V3.125H5.15625V3.4375ZM5.46875 3.125H5.78125V3.4375H5.46875V3.125ZM5.46875 3.75H5.78125V4.0625H5.46875V3.75ZM5.46875 4.375H5.78125V4.6875H5.46875V4.375ZM5.46875 5H5.78125V5.3125H5.46875V5ZM5.46875 5.9375V5.625H5.78125V5.9375H5.46875ZM9.0625 3.75L7.8125 3.125V7.96875H9.0625V3.75ZM8.59375 7.5H8.28125V7.1875H8.59375V7.5ZM8.59375 6.875H8.28125V6.5625H8.59375V6.875ZM8.59375 6.25H8.28125V5.9375H8.59375V6.25ZM8.59375 5.625H8.28125V5.3125H8.59375V5.625ZM8.59375 5H8.28125V4.6875H8.59375V5ZM8.59375 4.375H8.28125V4.0625H8.59375V4.375ZM2.1875 3.75L0.9375 4.375V7.96875H2.1875V3.75ZM1.71875 7.5H1.40625V7.1875H1.71875V7.5ZM1.71875 6.875H1.40625V6.5625H1.71875V6.875ZM1.71875 6.25H1.40625V5.9375H1.71875V6.25ZM1.71875 5.625H1.40625V5.3125H1.71875V5.625ZM1.71875 5H1.40625V4.6875H1.71875V5Z"
                                                          fill="white"/>
                                                    <path d="M3.4375 7.8125V2.5C3.4375 2.41712 3.47042 2.33763 3.52903 2.27903C3.58763 2.22042 3.66712 2.1875 3.75 2.1875H4.0625V1.40625L3.59375 1.21875V0.625H3.4375V0.3125H3.125V0.625H2.96875V0.96875L2.5 0.78125V7.96875H3.48078C3.45277 7.92142 3.43783 7.8675 3.4375 7.8125ZM3.125 7.1875H2.8125V6.875H3.125V7.1875ZM3.125 6.5625H2.8125V6.25H3.125V6.5625ZM3.125 5.9375H2.8125V5.625H3.125V5.9375ZM3.125 5.3125H2.8125V5H3.125V5.3125ZM3.125 4.6875H2.8125V4.375H3.125V4.6875ZM3.125 4.0625H2.8125V3.75H3.125V4.0625ZM3.125 3.4375H2.8125V3.125H3.125V3.4375ZM3.125 2.8125H2.8125V2.5H3.125V2.8125ZM3.125 2.1875H2.8125V1.875H3.125V2.1875Z"
                                                          fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_5132_30871">
                                                        <rect width="10" height="10" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Công ty TNHH Công Nghệ và Du Lịch TripTech
                                        </span>
                                        </div>
                                        <div class="col-md-7">
                                        <span>
                                            <svg width="18" height="18" viewBox="0 0 10 10" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.00001 0.833252C4.11625 0.834244 3.26898 1.18575 2.64408 1.81066C2.01917 2.43557 1.66766 3.28284 1.66667 4.16659C1.66667 5.52284 2.65126 6.64909 3.69417 7.84117C4.02417 8.21867 4.36584 8.60909 4.67001 9.00409C4.70893 9.05458 4.75892 9.09547 4.81613 9.1236C4.87334 9.15174 4.93625 9.16637 5.00001 9.16637C5.06376 9.16637 5.12667 9.15174 5.18388 9.1236C5.24109 9.09547 5.29108 9.05458 5.33 9.00409C5.63417 8.60909 5.97584 8.21867 6.30584 7.84117C7.34875 6.64909 8.33334 5.52284 8.33334 4.16659C8.33235 3.28284 7.98084 2.43557 7.35593 1.81066C6.73102 1.18575 5.88376 0.834244 5.00001 0.833252ZM5.00001 5.41659C4.75278 5.41659 4.5111 5.34327 4.30554 5.20592C4.09998 5.06857 3.93976 4.87335 3.84516 4.64494C3.75055 4.41653 3.72579 4.1652 3.77402 3.92272C3.82225 3.68025 3.94131 3.45752 4.11612 3.2827C4.29094 3.10789 4.51367 2.98884 4.75614 2.9406C4.99862 2.89237 5.24995 2.91713 5.47836 3.01174C5.70677 3.10635 5.90199 3.26656 6.03934 3.47212C6.17669 3.67768 6.25 3.91936 6.25 4.16659C6.25 4.49811 6.11831 4.81605 5.88389 5.05047C5.64947 5.28489 5.33153 5.41659 5.00001 5.41659Z"
                                                      fill="white"/>
                                            </svg>
                                            Số 20, Khu biệt thự Ngân Long, đường Nguyễn Hữu Thọ, Xã Phước Kiển, Huyện Nhà Bè, TP Hồ Chí Minh
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
</body>
</html>