<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Thinkflight | <%= collaborator.fullName %> - Cấp lại mật khẩu</title>
    <!-- Icons-->
    <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any"/>
    <link href="/stylesheets/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/stylesheets/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/pace.min.css" rel="stylesheet">

    <style>
        .card-body table th {
            text-transform: uppercase;
        }

        table tr th {
            color: #000 !important;
            border-top: 1px solid #c5e7f2 !important;
            border-bottom: 1px solid #c5e7f2 !important;
            background: url(https://cdn-app.kiotviet.vn/retailler/Content/thBg.png) right center no-repeat #dcf4fc !important;
        }

        .table th {
            border-bottom: none !important;
            font-weight: 400 !important;
            font-size: 12px !important;
            text-transform: uppercase;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<% include ../layouts/header.ejs %>
<div class="app-body">
    <% include ../layouts/sidebar.ejs %>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">
                <a href="/admin/collaborator/index">Cộng tác viên</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin/collaborator/view/<%= collaborator.id %>"><%= collaborator.fullName %></a>
            </li>
            <li class="breadcrumb-item active">Cấp lại mật khẩu</li>
        </ol>
        <div class="container-fluid" data-select2-id="16">
            <div id="ui-view" data-select2-id="ui-view">
                <div>
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <form action="/admin/collaborator/change-password/<%= collaborator.id %>" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="nav-icon icon-lock"></i>
                                            <strong><%= collaborator.fullName %></strong>
                                            <small>Cấp lại mật khẩu</small>
                                        </div>
                                        <div class="card-body">
                                            <% if(typeof validateFormError != "undefined") {%>
                                                <div class="alert alert-danger" role="alert">
                                                    <i class="nav-icon icon-bell"></i>
                                                    <%- validateFormError %>
                                                </div>
                                            <% } %>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="company">Nhập mật khẩu mới <span class="required">(*)</span></label>
                                                        <input name="password" class="form-control" type="password"
                                                               placeholder="Nhập mật khẩu mới">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="street">Nhập lại mật khẩu mới <span class="required">(*)</span></label>
                                                        <input name="rePassword" class="form-control" type="text"
                                                               placeholder="Nhập lại mật khẩu mới">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-primary pull-right" type="submit">
                                                <i class="nav-icon icon-lock"></i>
                                                Cấp lại mật khẩu
                                            </button>
                                            <a href="/admin/collaborator/view/<%= collaborator.id %>" class="btn btn-danger pull-left">
                                                <i class="nav-icon icon-close"></i>
                                                Hủy bỏ
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<% include ../layouts/footer %>
</body>
</html>
