<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Thinkflight | Tour - <%= tour.title %></title>
    <!-- Icons-->
    <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any"/>
    <link href="/stylesheets/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/stylesheets/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/pace.min.css" rel="stylesheet">

    <style>
        .card-body table th {
            text-transform: uppercase;
        }

        table tr th {
            color: #000 !important;
            border-top: 1px solid #c5e7f2 !important;
            border-bottom: 1px solid #c5e7f2 !important;
            background: url(https://cdn-app.kiotviet.vn/retailler/Content/thBg.png) right center no-repeat #dcf4fc !important;
        }

        .table th {
            border-bottom: none !important;
            font-weight: 400 !important;
            font-size: 12px !important;
            text-transform: uppercase;
        }

        .table-responsive-sm a:hover {
            text-decoration: none;
        }

    </style>

    <style>
        h2 {
            line-height: 36px;
            font-size: 20px;
        }

        h5 {
            line-height: 18px;
            font-size: 16px;
            font-weight: 400;
        }

        .r4_counter h4 {
            margin: 0;
        }

        a {
            color: #008ece;
            text-decoration: none !important;
        }

        .dashboardStatistic {
            position: relative;
        }

        .uln ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .dashboard-custom .dashboardStatistic ul li {
            max-width: calc(100% / 4);
        }

        .dashboardStatistic ul li {
            position: relative;
            color: #999;
            font-size: 12px;
            padding: 6px 0 6px 67px;
            text-align: left;
            display: inline-block;
            height: auto;
            vertical-align: middle;
            min-height: 72px;
            white-space: nowrap;
            margin: 4px 25px 8px 0;
            box-sizing: border-box;
        }

        .dashboardStatistic .total .dash_icon {
            background: #0094da;
        }

        .dashboardStatistic .dash_icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0;
            position: absolute;
            top: 25px;
            left: 28px;
            background: #4bac4d;
            text-align: center;
            border-radius: 100% !important;
            color: #fff;
            line-height: 32px;
        }

        .dashboardStatistic .dash_title {
            font-weight: 700;
            color: #666;
            margin: 0 0 0 2px;
        }

        .c-callout {
            text-align: left;
            padding: 6px 0 6px 60px;
            border-top: 1px solid #d6d6d6;
        }

        .dashboardStatistic .total span.number {
            color: #0094da;
        }

        .dashboardStatistic span.number {
            display: block;
            font-size: 18px;
            line-height: 28px;
        }

        span.yesterday {
            color: #999;
            display: block;
            font-size: 12px;
            margin: 0 0 0 2px;
        }

        .btn-group-left a, .btn-group-left button {
            text-transform: uppercase;
        }

        .dashboardStatistic .return .dash_icon {
            background: #ff8030;
        }

        .dashboardStatistic .down .dash_icon {
            background: #f94f5e;
        }

        @media (min-width: 768px) {
            .c-callout {
                border-top: none;
                border-left: 1px solid #d6d6d6;
            }
        }
    </style>

    <style type="text/css">
        @keyframes spinner {
            0% {
                opacity: 1
            }
            100% {
                opacity: 0
            }
        }

        .spinner div {
            left: 95px;
            top: 75px;
            position: absolute;
            animation: spinner linear 1s infinite;
            background: #1d3f72;
            width: 10px;
            height: 10px;
            border-radius: 5px / 5px;
            transform-origin: 5px 25px;
        }

        .spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -0.9s;
            background: #1d3f72;
        }

        .spinner div:nth-child(2) {
            transform: rotate(36deg);
            animation-delay: -0.8s;
            background: #1d3f72;
        }

        .spinner div:nth-child(3) {
            transform: rotate(72deg);
            animation-delay: -0.7s;
            background: #1d3f72;
        }

        .spinner div:nth-child(4) {
            transform: rotate(108deg);
            animation-delay: -0.6s;
            background: #1d3f72;
        }

        .spinner div:nth-child(5) {
            transform: rotate(144deg);
            animation-delay: -0.5s;
            background: #1d3f72;
        }

        .spinner div:nth-child(6) {
            transform: rotate(180deg);
            animation-delay: -0.4s;
            background: #1d3f72;
        }

        .spinner div:nth-child(7) {
            transform: rotate(216deg);
            animation-delay: -0.3s;
            background: #1d3f72;
        }

        .spinner div:nth-child(8) {
            transform: rotate(252deg);
            animation-delay: -0.2s;
            background: #1d3f72;
        }

        .spinner div:nth-child(9) {
            transform: rotate(288deg);
            animation-delay: -0.1s;
            background: #1d3f72;
        }

        .spinner div:nth-child(10) {
            transform: rotate(324deg);
            animation-delay: 0s;
            background: #1d3f72;
        }

        .loading-io {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
        }

        .spinner {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0; /* see note above */
        }

        .spinner div {
            box-sizing: content-box;
        }

        .th-text-right {
            text-align: right;
        }

        .tab-content .tab-pane {
            padding: 0 0 0;
        }
    </style>
    <link href="/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<%- include('../layouts/header', {userLogin: userLogin}); %>
<div class="app-body">
    <%- include('../layouts/sidebar', {userLogin: userLogin}); %>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin/dashboard">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin/tour/index">Danh sách tour</a>
            </li>
            <li class="breadcrumb-item active"><%= tour.title %></li>
        </ol>
        <div class="container-fluid" data-ng-app="tourApp" data-ng-controller="tourCtrl">
            <div id="ui-view">
                <div>
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h4 style="font-weight: bold;margin-top: 8px;margin-bottom: 0;padding: 0.15rem 0;">
                                                    <%= tour.title %>
                                                </h4>
                                                <div>
                                                    <a href="<%= tour.link %>">
                                                        <span class="fa fa-globe"></span> <%= tour.link %>
                                                    </a>
                                                </div>
                                            </div>
                                            <% if(userLogin.roleId === 1) { %>
                                                <div class="col-md-4">
                                                    <div style="text-align: right;margin-top: 15px;">
                                                        <a href="/admin/tour/update/<%= tour.id %>"
                                                           class="btn btn-primary">
                                                            <i class="nav-icon icon-pencil"></i>
                                                            Cập nhật
                                                        </a>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding: 0;">
                                        <div class="row" style="padding: 0 20px;">
                                            <div class="col-md-6">
                                                <br>
                                                <h6 class="text-uppercase">Giá theo độ tuổi</h6>
                                            </div>
                                        </div>
                                        <table class="table table-responsive-sm table-outline"
                                               style="margin-bottom: 0;">
                                            <thead>
                                            <tr>
                                                <th style="width: 40px;">STT</th>
                                                <th>Độ tuổi</th>
                                                <th class="th-text-right">Ngày thường</th>
                                                <th class="th-text-right">Cuối tuần</th>
                                                <th class="th-text-right">Ngày tết</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% tour.price_detail.forEach(function(detail, key) { %>
                                                <tr>
                                                    <td><%= key + 1 %></td>
                                                    <td>
                                                        <%= detail.age_type === 1 ? 'Người lớn' : 'Trẻ em' %>
                                                    </td>
                                                    <% if(userLogin.roleId === 1) { %>
                                                        <td class="th-text-right">
                                                            ₫<strong><%= _.formatNumber(detail.price_normal) %></strong>
                                                        </td>
                                                        <td class="th-text-right">
                                                            ₫<strong><%= _.formatNumber(detail.price_normal) %></strong>
                                                        </td>
                                                        <td class="th-text-right">
                                                            ₫<strong><%= _.formatNumber(detail.price_normal) %></strong>
                                                        </td>
                                                    <% } else { %>
                                                        <td class="th-text-right">
                                                            ₫<strong><%= _.formatNumber(detail.price_normal + detail.surcharge) %></strong>
                                                        </td>
                                                        <td class="th-text-right">
                                                            ₫<strong><%= _.formatNumber(detail.price_normal + detail.surcharge) %></strong>
                                                        </td>
                                                        <td class="th-text-right">
                                                            ₫<strong><%= _.formatNumber(detail.price_normal + detail.surcharge) %></strong>
                                                        </td>
                                                    <% } %>
                                                </tr>
                                            <% }); %>
                                            </tbody>
                                        </table>
                                        <div class="row" style="padding: 12px 20px;">
                                            <div class="col-md-12">
                                                <br>
                                                <h6 class="text-uppercase">Thông tin tour</h6>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label control-label">Khởi hành từ:</label>
                                                    <div class="form-wrap form-control-static">
                                                        <i class="nav-icon icon-globe"></i>
                                                        <strong>
                                                            <span ng-repeat="province in provinces">
                                                                <span ng-if="province.code == <%= tour.from_id %>">
                                                                    {{province.name}}
                                                                </span>
                                                            </span>
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label control-label">Điểm đến:</label>
                                                    <div class="form-wrap form-control-static">
                                                        <i class="nav-icon icon-globe"></i>
                                                        <strong>
                                                            <span ng-repeat="province in provinces">
                                                                <span ng-if="province.code == <%= tour.to_id %>">
                                                                    {{province.name}}
                                                                </span>
                                                            </span>
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label control-label">Ngày khởi hành:</label>
                                                    <div class="form-wrap form-control-static">
                                                        <strong><%= tour.departure_date %></strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <% if(userLogin.roleId === 1) { %>
                                                <div class="col-md-3"></div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-label control-label">Khoản phụ trội:</label>
                                                        <div class="form-wrap form-control-static">
                                                            ₫<strong><%= _.formatNumber(tour.surcharge) %></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label control-label">Hoa hồng/Khách:</label>
                                                    <div class="form-wrap form-control-static">
                                                        ₫<strong><%= _.formatNumber(tour.commission) %></strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<% include ../layouts/footer %>
<script src="/angular-xeditable/js/xeditable.js"></script>
<script src="/javascript/tour.js"></script>
</body>
</html>